---
import Navbar from "@components/shared/navbar.astro";
import { ViewTransitions } from "astro:transitions";
import { siteInfo } from "src/consts/site-info";

interface Props {
  title?: string;
  image?: string;
  description?: string;
}

const {
  title = siteInfo.title,
  description = siteInfo.description,
  image,
} = Astro.props;

const grass = "#78c850";
const fire = "#f08030";
const water = "#6890f0";
const bug = "#a8b820";
const normal = "#a8a878";
const poison = "#a040a0";
const electric = "#f8d030";
const ground = "#e0c068";
const fairy = "#ee99ac";
const fighting = "#c03028";
const psychic = "#f85888";
const rock = "#b8a038";
const ghost = "#705898";
const ice = "#98d8d8";
const dragon = "#7038f8";
const dark = "#705848";
const steel = "#b8b8d0";
const flying = "#a890f0";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <meta name="description" content={description} />
    <meta name="author" content="Jhon Eduard" />

    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />

    <title>{title}</title>

    <style
      is:global
      define:vars={{
        grass,
        fire,
        water,
        bug,
        normal,
        poison,
        electric,
        ground,
        fairy,
        fighting,
        psychic,
        rock,
        ghost,
        ice,
        dragon,
        dark,
        steel,
        flying,
      }}
    ></style>

    <ViewTransitions />
    <!-- <style>
      @view-transition {
        navigation: auto; /* enabled! */
      }
    </style> -->
  </head>
  <body
    class="min-h-screen py-12 bg-neutral-950 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))] text-slate-100"
  >
    <Navbar />
    <main class="max-w-4xl m-auto px-4">
      <slot />
    </main>
  </body>
</html>
